#row{
    background-color: var(--lovely-blue-lighter);
    padding: 1%;
}

#map{
    /* height: 100%; */
    min-height: 512px;
    width: 100%;
}

#table .red {
    background-color: #ffcccc; 
}
#table .orange {
    background-color: #ffddb3;
}
#table .yellow {
    background-color: #ffffcc; 
}
#table .green {
    background-color: #ccffcc;
}