.custom-padding {
    padding-left: 0;
    padding-right: 10px; /* Adjust as needed */
}

.custom-padding-opposite {
    padding-right: 0;
}

.mt-3,
.mt-2 {
    font-size: medium;
    font-weight:600;
}

.titleFooter {
    font-size: small;
    color:gray;
    margin-top: 10px;
}

.table {
    font-size: 11pt;
}


.badge-yellow {
    background-color: #f9ca24!important;
    color:rgb(44, 44, 44) !important;
}

.badge-red {
    background-color: #eb4d4b !important;
    color:rgb(44, 44, 44) !important;
}

.badge-orange {
    background-color: #f0932b !important;
    color:rgb(44, 44, 44) !important;
}

.badge-green {
    background-color: #6ab04c !important;
    color:rgb(44, 44, 44) !important;
}

.card-title {
    font-size: large !important;
}

