.home-container .aboutus div{
    background-image: url('../assets/bannerbg.jpg');
    background-color: rgba(0, 0, 0, 0.8 ); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.home-container .aboutus div h1,
.home-container .aboutus div p{
    color: white;
}

.home-container .news{
    a {
        color: inherit; 
        text-decoration: none; 
    }
    a:hover {
        color: inherit; 
    }
}
