/* Home Container */
.home-container div {
    background-color: white;
    border-radius: 10px;
}

/* About Us Container */
.home-container .aboutus div {
    background-image: url('../assets/bannerbg.jpg');
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-container .aboutus div h1,
.home-container .aboutus div p {
    color: white;
}

/* Error Page */
section.errorpage h2 {
    color: var(--light-black);
}

section.errorpage h2 i {
    color: var(--lovely-blue-deeper);
}

/* Profile Picture Container */
.profile-picture-container img {
    border-radius: 50%;
    position: relative;
    transition: filter 0.3s;
}

.profile-picture-container:hover img {
    filter: brightness(0.6);
}

/* Alert Messages */
.alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.carousel-item {
    min-height: max-content;
}
.card-body {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
    height: 200px;
}

.readMore {
    background-color: white;
    border-color: var(--lovely-blue-deeper);
    color: var(--lovely-blue-deeper);
}
