.home-container{
    display: flex;    
    background-color: var(--lovely-blue-lighter);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll; 
}
.home-container .right-container{
        border-radius: 10px;
        background-color: whitesmoke;
        /* margin-top: 1vh;
        margin-right: 1vw;
        margin-left: 9vw; */
        position: absolute;
        top: 1vh;
        left: 9vw;
        right: 1vw;
}
.home-container .aboutus div{
    background-image: url('../assets/bannerbg.jpg');
    background-color: rgba(0, 0, 0, 0.8 ); /* Adjust opacity as needed */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.home-container .aboutus div h1,
.home-container .aboutus div p{
    color: white;
}

.home-container .news{
    a {
        color: inherit; /* Use the default text color */
        text-decoration: none; /* Remove underline */
    }

    /* Optionally, you can style visited links differently */
    a:hover {
        color: inherit; /* Change color on hover */
    }
}
/* .home-container .form{} */

@media (max-width: 768px) {
    .home-container .container-2 {
      left: 1vw !important;
      right: 1vw !important;
    }
  }