/* Image Input Fields */
.image-input {
    border: 2px dashed #ced4da;
    border-radius: 5px;
    position: relative;
<<<<<<< Updated upstream
=======
    height:35%;
>>>>>>> Stashed changes
    cursor:pointer;
    margin-left: 20px;
    background-color: rgb(245, 245, 245);
    margin-top:5px;
<<<<<<< Updated upstream
    
=======
>>>>>>> Stashed changes
}


.image-input input[type="file"] {
    display: none;
}

.image-input label {
    position: absolute;
    top: 50%;
    /* font-weight:normal; */
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    text-align: center;
}

.image-input label i {
    display: block;
    margin: 0 auto;
    font-size: small; /* Adjust size as needed */
    margin-bottom: 5px; /* Adjust spacing as needed */
    font-family: "Assistant", sans-serif;
    font-style: italic;
    padding-top:5px;
    color:grey
}

.row .px-3 p {
    font-weight: bold;
    height:fit-content;
    margin-bottom:0;
}

/* Add styles for dragover effect */
.dragover {
    border: 2px dashed #007bff; /* Change color as needed */
}

/* Button */
.btn-primary {
    width: 100%;
}

/* Lovely Blue Deeper Color */
.bg-lovely-blue-deeper {
    background-color: #205a96;
    border-color: #205a96;
}

.bg-lovely-blue-deeper:hover {
    background-color: #14326d;
    border-color: #14326d;
}

/* Inference Form */
.inferenceform {
    background-color: #f8f9fa;
    border-radius: 10px;
    /* padding: 10px; */
    width: 100%; 
    margin-left: auto;
    margin-right: 0px;
}

.inferenceform label {
    font-weight: bold;
    color: #343a40;
    margin-bottom:0
}

.inferenceform input[type="text"],
.inferenceform input[type="date"],
.inferenceform select,
.inferenceform textarea {
    width: 98%;
    /* padding: 10px; */
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left:20px;
    margin-top:5px;
}

.inferenceform select {
    height: auto;
}

.inferenceform textarea {
    resize: none;
}

.pageTitle {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30pt;
    color: rgb(56, 56, 56);
}

.titleFooter {
    font-family: "Assistant", sans-serif;
    font-size: small;
    color:gray;
<<<<<<< Updated upstream
}

/* Add this CSS to your stylesheet or inside a <style> tag in your HTML */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:20px;
}

#loading-content {
text-align: center;
color: #3f3f3f;
font-size:large;
font-weight:600
}

/* Animation styles */
@keyframes fadeInOut {
0% {
    opacity: 0;
}
50% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}

.fadeInOut {
animation: fadeInOut 3.0s linear infinite;
}
/* Adjust the size of the spinner */
.spinner-border {
    width: 3rem;
    height: 3rem;
}

/* Add animation to the loading text
#loading-screen p {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
} */
=======
}
>>>>>>> Stashed changes
