:root {
    --black: #000000;
    --gray-600: #afb6c4;
    --zinc-400: #B9B9B9;
    --neutral-300: #D3D3D3;
    --neutral-200: #E3E3E3;
    --zinc-100: #F4F4F4;
    --red-500: #FF3333;
    --white: #FFFFFF;
    --lovely-blue-lighter:#b3d2ea;
    --lovely-blue:#6AACDE;
    --lovely-blue-deeper:#1f5782;
    --light-black: #1b1c1d; 
}
body{
    padding: 0;
    margin: 0;
    /* background-color: whitesmoke; */
}

h2, h3{
    font-family: "Assistant", sans-serif
}

.bg-lovely-blue{
    background-color: var(--lovely-blue);
}
.bg-lovely-blue-deeper{
    background-color: var(--lovely-blue-deeper);
}
.home-container{
    display: flex;    
    background-color: var(--lovely-blue-lighter);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll; 
}
.home-container .right-container{
        border-radius: 10px;
        background-color: whitesmoke;
        /* margin-top: 1vh;
        margin-right: 1vw;
        margin-left: 9vw; */
        position: absolute;
        top: 1vh;
        left: 9vw;
        right: 1vw;
}
@media (max-width: 768px) {
    .home-container .right-container {
      left: 1vw !important;
      right: 1vw !important;
    }
  }