:root {
    --black: #000000;
    --gray-600: #afb6c4;
    --zinc-400: #B9B9B9;
    --neutral-300: #D3D3D3;
    --neutral-200: #E3E3E3;
    --zinc-100: #F4F4F4;
    --red-500: #FF3333;
    --white: #FFFFFF;
    --lovely-blue-lighter:#b3d2ea;
    --lovely-blue:#6AACDE;
    --lovely-blue-deeper:#1f5782;
    --light-black: #1b1c1d; 
}
body{
    padding: 0;
    margin: 0;
}

h2, h3{
    font-family: "Assistant", sans-serif
}

.bg-lovely-blue{
    background-color: var(--lovely-blue);
}
.bg-lovely-blue-deeper{
    background-color: var(--lovely-blue-deeper);
}
.bg-whitesmoke{
    background-color: whitesmoke
}
.main-row{
    background-color: var(--lovely-blue-lighter);
    padding: 1%;
}   

.btn,
.btn-primary {
    padding-left: 20px;
    padding-right: 20px;
    
}

.card {
    border-radius: 13px;
}
