#row{
    background-color: var(--lovely-blue-lighter);
    padding: 1%;
}
#cityinfo, #toggler{
    background-color: whitesmoke;
    /* border-radius: 10px; */
}
#map{
    height: 100%;
    min-height: 512px;
    width: 100%;
}