#row{
    background-color: var(--lovely-blue-lighter);
    padding: 1%;
}

#map{
    /* height: 100%; */
    min-height: 512px;
    width: 100%;
}
.equal-width {
    width: 100%;
    border-collapse: collapse;
}

#table .col {
    border: 0.5px solid var(--light-black);
    padding: 8px; /* Adjust padding as needed */
}
#table .red {
    background-color: #ffcccc; 
}
#table .orange {
    background-color: #ffddb3;
}
#table .yellow {
    background-color: #ffffcc; 
}
#table .green {
    background-color: #ccffcc;
}