.dw-navbar{
    position: fixed; 
    top: 1vh; 
    left: 1vw; 
    bottom: 0; 
    border-radius: 10px;
    width: 7vw;
    background-color: whitesmoke;
}
.dw-navbar ul{
    overflow: hidden;
}
.dw-navbar ul a svg{
    color: black;
}
.active{
    background-color: var(--lovely-blue);
    color: whitesmoke;
}