#dw-navbar{
    background-color: whitesmoke;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
}
#dw-av div ul{
    margin: auto;
}
/* BIG SCREENS */
@media (min-width: 768px) {
    #dw-navbar{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      #dw-navbar div .logo{
          margin-bottom: 70%;
      }
      #dw-navbar div{
          position: fixed;
          top: 50%;
          transform: translate(0, -50%);
      }
}