/* Error Page */
section.errorpage h2 {
    color: var(--light-black);
}

section.errorpage h2 i {
    color: var(--lovely-blue-deeper);
}

/* Profile Picture Container */
.profile-picture-container {
    display: flex;
    justify-content: center; /* Align horizontally */
    align-items: center; /* Align vertically */
    /* height: 200px; Adjust the height as needed */
}

.profile-picture-container img {
    border-radius: 50%;
    position: relative;
    transition: filter 0.3s;
    width: 200px; /* Ensure the image doesn't exceed container width */
    height: 200px; /* Ensure the image doesn't exceed container height */
}

.profile-picture-container:hover img {
    filter: brightness(0.6);

}


/* Alert Messages */
.alert {
    padding: 10px;
    margin: 10px 0;
    margin-top: 0px;
    border-radius: 5px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}


.card-body{
    height:1024;
    width:1024;
}
