{% extends 'index.html' %}

{% load static %}

{% block title %}Add User{% endblock title %}

{% block body %}
<link rel="stylesheet" href="{% static '/styles/adminPanel.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div id="dashboard-page" class="container-fluid">
    <div class="row main-row">
        <!-- NAVBAR TAKING 1/12TH -->
        {% include 'app/navbar2.html' %}
        <!-- MAIN CONTENT TAKING 1/12TH -->
        <div class="col-md-11 mt-1 "style='margin-left:9%'>
            {% comment %} <div class="container-fluid"> {% endcomment %}
                <div class="row gx-3">
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="p-5 pb-0  pageTitle">
                                    ADD USER
                                    <p class='titleFooter'>Welcome to the add user page. Fill in all the form fields to register someone.<p>
                                </div>

                                <div class='px-5 py-2'>
                                    <form id="addUserForm" action="{% url 'add-user' %}" method="POST">
                                        {% csrf_token %}
                                        
                                        <legend>Personal Details</legend>
                                        <div class="row gx-3 mb-3">
                                            <div class="col-md-6">
                                                <label for="firstName">First Name <b style='color:red'>*</b></label>
                                                <input type="text" class="form-control blue-border" name="firstName" required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="lastName">Last Name <b style='color:red'>*</b></label>
                                                <input type="text" class="form-control blue-border" name="lastName" required>
                                            </div>
                                        </div>
                                        <div class="row gx-3 mb-3">
                                            <div class="col-md-6">
                                                <label for="email">Email <b style='color:red'>*</b></label>
                                                <input type="email" class="form-control blue-border" name="email" required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="contact">Contact Number <b style='color:red'>*</b></label>
                                                <input type="text" class="form-control blue-border" name="contact" required>
                                            </div>
                                        </div>

                                        <legend>Official Details</legend>
                                        <div class="row gx-3 mb-3">
                                            <div class="col-md-6">
                                                <label for="username">Username  <b style='color:red'>*</b></label>
                                                <input type="text" class="form-control blue-border" name="username" required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="password">Password <b style='color:red'>*</b></label>
                                                <input type="password" class="form-control blue-border" name="password" required>
                                            </div>
                                        </div>
                                        <div class="row gx-3 mb-3">
                                           
                                            <div class="col-md-6">
                                                <label for='is_admin'>Role <b style='color:red'>*</b></label>
                                                <select class="form-control blue-border" id="is_admin" name="is_admin" required>
                                                    <option value="False">Employee</option>
                                                    <option value="True">Admin</option>
                                                    <!-- Add more options as needed -->
                                                </select>
                                            </div>
                                            
                                        </div>
                                        <div class='py-3 '><button type="submit" class="btn btn-primary">Add User</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% comment %} </div> {% endcomment %}
        </div>
    </div>
</div>

<!-- Error messages -->
{% if messages %}
    {% for message in messages %}
        <div id="alert-container" class="position-fixed top-0 start-50 translate-middle-x mt-4" style="z-index: 1050">
            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}"
                role="alert">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <script>
        // Automatically remove alert after 5 seconds
        $(document).ready(function () {
            setTimeout(function () {
                $('#alert-container').fadeOut();
            }, 2000);
        });
    </script>
{% endif %}

<script>
    // Add your JavaScript code here if needed
</script>

{% endblock body %}
