{% extends 'index.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block body %}
<link href="{% static '/styles/home2.css' %}" rel="stylesheet" />
<script src="{% static '/javascript/news.js' %}"></script>

<div id="homepage" class="container-fluid">
  <div class="row main-row">
    <!-- NAVBAR -->
    {% include 'app/navbar2.html' %}
    <!-- MAIN CONTENT -->
    <div class="col-md-11 home-container">
        <!-- error -->
      <div class="container error-container">
        {% if messages %}
        {% for message in messages %}
        <p class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}"
          role="alert">
          {{ message }}
          {% endfor %}
          </ul>
          {% endif %}
      </div>

      <!-- ABOUT US -->
      <div class="aboutus">
        <div class="mb-2 py-2 px-4">
          <h1 class="display-4 fw-normal fst-italic">DisasterWatch</h1>
          <p class="lead my-3">An AI-Driven Web Service for Disaster Damage Assessment
          </p>
        </div>
      </div>

      <!-- TAKE TO FORM -->
      <div class="taketoform my-3 py-3 px-4" style='background-color:white'>
        <div class="d-flex flex-column align-items-start">
          <h2 class="fw-bold  mt-2">Experience DisasterWatch's Cutting-Edge AI Model</h2>
          <p class="text-body-secondary mt-2">
            Dive into the innovative world of DisasterWatch's AI-driven model, offering real-time disaster prediction
            and analysis. Navigate through interactive maps and dashboards to gain valuable insights, empowering you to
            make informed decisions and take proactive measures. Join us in our mission to create a safer, more
            resilient world.
          </p>
          <a href="{% url 'inferenceform' %}" class="btn btn-primary">Run Analysis</a>
        </div>
      </div>

      <!-- NEWS -->
      <div class="news my-3 p-2">
        <h3 class="m-3" style = 'font-size: x-large; background-color:white'>Recent Disaster Related News</h3>
        <div id="news-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel" >
          <div class="carousel-indicators mb-0 pb-0">
            <button type="button" data-bs-target="#news-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" ></button>
            <button type="button" data-bs-target="#news-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#news-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#news-carousel" data-bs-slide-to="3" aria-label="Slide 3"></button>
            {% comment %} <button type="button" data-bs-target="#news-carousel" data-bs-slide-to="4" aria-label="Slide 3"></button> 
            <button type="button" data-bs-target="#news-carousel" data-bs-slide-to="5" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#news-carousel" data-bs-slide-to="6" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#news-carousel" data-bs-slide-to="7" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#news-carousel" data-bs-slide-to="8" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#news-carousel" data-bs-slide-to="9" aria-label="Slide 3"></button> {% endcomment %}
          </div>
          <div class="carousel-inner" id="news-carousel-inner">
              <!-- News articles will be dynamically added here -->
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#news-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button"  data-bs-target="#news-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>


{% endblock body %}