{% extends 'index.html' %}
{% load static %}
{% block title %}Inference Form{% endblock title %}
{% block body %}
<link rel="stylesheet" href="{% static '/styles/home2.css' %}">
<link rel="stylesheet" href="{% static '/styles/inference_form.css' %}">
<script src="{% static '/javascript/inference_form.js' %}"></script>

<div id="inferencepage" class="container-fluid">
    <div class="row main-row" style="background-color: rgb(210, 210, 210)">
        <!-- NAVBAR -->
        {% include 'app/navbar2.html' %}
        <!-- MAIN CONTENT -->
        <div class="col-md-11">
            <div class="card inferenceform ">
                <div class='pt-5 px-5 pb-0 pageTitle'>
                    INFERENCE FORM
                    <p class='titleFooter'>Welcome to the inference form. Fill in the fields and submit to start the analysis process.<p>
                </div> 

                <div>
                <form id="inference_form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mx-3 mt-0">
                        <!-- First Column: Image Input Fields -->
                        <div class="col-md-6">
                            <div class='row mb-4 w-100'style='height:40%'>
                                <div class='col-md-12'>
                                    <div class='row px-3 '>
                                        <p >Pre-Disaster Image:</p>
                                    </div>
                                    <div class='row h-100 w-100 '>
                                        <div class="image-input mb-3" id="pre_image_drop_area">
                                            <label for="pre_image">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                                    <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"/>
                                                </svg><i>Drop or drag a file here or <br><b>Click to browse</b></br></i> </label>
                                            <input type="file" class="form-control-file" id="pre_image" name="pre_image" accept=".tif" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='row w-100' style='height:40%'>
                                <div class='col-md-12'>
                                    <div class='row px-3 '>
                                        <p >Post-Disaster Image:</p>
                                    </div>
                                    <div class='row h-100 w-100 mb-3'>
                                        <div class="image-input" id="post_image_drop_area">
                                            <label for="post_image">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                                    <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"/>
                                                </svg> <i>Drop or drag a file here or 
                                                    <br><b>Click to browse</b></br></i></label>
                                            <input type="file" class="form-control-file" id="post_image" name="post_image" accept=".tif" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Second Column: Other Input Fields -->
                        <div class="col-md-6">
                            <div class="mb-2" style="margin-top: 0%">
                                <label for="city">City:</label>
                                <input type="text" class="form-control" id="city" name="city" required>
                            </div>
                            <div class="mb-2">
                                <label for="date">Date of Satellite Imagery:</label>
                                <input type="date" class="form-control" id="date" name="date" required>
                            </div>
                            <div class="mb-2">
                                <label for="disaster_type">Type of Disaster:</label>
                                <select class="form-control" id="disaster_type" name="disaster_type" required>
                                    <option value="Earthquake">Earthquake</option>
                                    <option value="Flood">Flood</option>
                                    <option value="Fire">Fire</option>
                                    <!-- Add more options as needed -->
                                </select>
                            </div>
                            <div class="mb-2">
                                <label for="disaster_description">Description of Disaster:</label>
                                <textarea class="form-control" id="disaster_description" name="disaster_description" rows="3"></textarea>
                            </div>
                            <div class="mb-2">
                                <label for="comments">Additional Comments:</label>
                                <textarea class="form-control" id="comments" name="comments" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary bg-lovely-blue-deeper my-3">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Error messages -->
{% if errors %}
<div id="alert-container" class="position-fixed top-0 start-50 translate-middle-x mt-4" style="z-index: 1050; display: block;">
    <div class="alert alert-danger" role="alert">
        Please fill out all required fields.
    </div>
</div>
<script>
    // Automatically remove alert after 5 seconds
    $(document).ready(function () {
        setTimeout(function () {
            $('#alert-container').fadeOut();
        }, 5000);
    });
</script>
{% endif %}
{% endblock body %}
