{% extends 'index.html' %}

{% load static %}

{% block title %}Inference Form{% endblock title %}

{% block body %}
<link rel="stylesheet" href="{% static '/styles/home2.css' %}">
<link rel="stylesheet" href="{% static '/styles/inference_form.css' %}">
<script src="{% static '/javascript/inference_form.js' %}"></script>


<div id="inferencepage" class="container-fluid">
    <div class="row main-row" style = "background-color: rgb(210, 210, 210)">
        <!-- NAVBAR -->
        {% include 'app/navbar2.html' %}
        <!-- MAIN CONTENT -->
        <div class="col-md-11" style = "padding:20px">
            <!-- error -->
            <div class="container error-container">
                {% if messages %}
                {% for message in messages %}
                <p class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}"
                role="alert">
                {{ message }}
                {% endfor %}
                </ul>
                {% endif %}
            </div>
            
            <div class="inferenceform mx-2 p-2">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row my-1">
                        <!-- First Column: Image Input Fields -->
                        <div class="col-md-6" >
                            <p>Pre-Disaster Image:</p>
                            <div class="image-input mb-3" id="pre_image_drop_area">
                                <label for="pre_image">
                                    <i class="fas fa-upload" style="font-weight:normal"> Drop or drag a file here or <br><b>Click to browse</b></br></i> </label>
                                    <input type="file" class="form-control-file" id="pre_image" name="pre_image" accept=".tif">
                            </div>
                            <p>Post-Disaster Image:</p>
                            <div class="image-input" id="post_image_drop_area">
                                <label for="post_image">
                                    <i class="fas fa-upload" style="font-weight:normal"> Drop or drag a file here or 
                                        <br><b>Click to browse</b></br></i></label>
                                    <input type="file" class="form-control-file" id="post_image" name="post_image" accept=".tif">
                            </div>
                        </div>

                        <!-- Second Column: Other Input Fields -->
                        <div class="col-md-6">
                            <div class="my-4" style= "margin-top:0%">
                                <label for="city">City:</label>
                                <input type="text" class="form-control" id="city" name="city">
                            </div>
                            <div class="my-4">
                                <label for="date">Date of Satellite Imagery:</label>
                                <input type="date" class="form-control" id="date" name="date">
                            </div>
                            <div class="my-4">
                                <label for="disaster_type">Type of Disaster:</label>
                                <select class="form-control" id="disaster_type" name="disaster_type">
                                    <option value="earthquake">Earthquake</option>
                                    <option value="flood">Flood</option>
                                    <option value="fire">Fire</option>
                                    <!-- Add more options as needed -->
                                </select>
                            </div>
                            <div class="my-4">
                                <label for="disaster_description">Description of Disaster:</label>
                                <textarea class="form-control" id="disaster_description" name="disaster_description" rows="3"></textarea>
                            </div>
                            <div class="my-4">
                                <label for="comments">Additional Comments:</label>
                                <textarea class="form-control" id="comments" name="comments" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary bg-lovely-blue-deeper mt-3">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

  
  {% endblock body %}

