{% extends 'index.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block body %}
<div class="container-fluid bg-light"
style="height: 100vh;">
    <div class="row">
        <div class="col bg-primary">
            <img src="{% static '/assets/disaster-cycle.png' %}" alt="">
        </div>
        <div class="col py-3 text-center">
            <img src="{% static '/assets/logo.png' %}" alt="logo" width="70px" class="d-block mx-auto my-3">
            <h2 class="text-center">Login</h2>
            <form action="" method="POST">
                {% csrf_token %}
               <div class="form-group px-5 flex-column text-center">
                <input class="form-control my-2" type="text" name="username" placeholder="Username">    
                <input class="form-control my-2" type="Password" name="password" placeholder="Password">   
                <input type="submit" class="btn btn-primary my-2" > 
               </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}