{% extends 'index.html' %}

{% load static %}


{% block title %}Login{% endblock title %}
{% block body %}
<link href="{% static '/styles/login.css' %}" rel="stylesheet"/>

<div class="container-fluid outer-login-container">
    <div class="container inner-login-container">
        <div class="row">
            <div class="col-lg-5 d-lg-block d-none text-center cycle-img-container">
                <img src="{% static '/assets/disaster-cycle.png' %}" alt="">
            </div>
            <div class="col-lg-7 col-12 py-3 form-container text-center">
                <img class="logo" src="{% static '/assets/logo.png' %}" alt="logo">
                <h2 class="text-center">Login</h2>
                <div class="container">
                    {% if messages %}
                    {% for message in messages %}
                    <p class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}"
                      role="alert">
                      {{ message }}
                      {% endfor %}
                      </ul>
                      {% endif %}
                  </div>
                <form action="" method="POST">
                    {% csrf_token %}
                   <div class="form-group px-5 flex-column text-center">
                    <input class="form-control my-2" type="text" name="username" placeholder="Username">    
                    <input class="form-control my-2" type="Password" name="password" placeholder="Password">   
                    <input type="submit" class="btn btn-primary my-2" > 
                   </div>
                </form>
            </div>
        </div>
    </div>
    
</div>

{% endblock body %}
