{% extends 'index.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block body %}
<link href="{% static '/styles/map.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<div id="map-container" class="container-fluid">
    <div id="row" class="row">
        {% include 'app/navbar2.html' %}
        <div class="col-md-11 home-container">
            <div class="container error-container">
                {% if messages %}
                {% for message in messages %}
                <p class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}"
                    role="alert">
                    {{ message }}
                    {% endfor %}
                    </ul>
                    {% endif %}
            </div>
            <div id="cityinfo" class="my-2 d-flex">
                <h1>islamabad</h1>
                <h1>temp</h1>
                <h1>humidiy</h1>
                <h1>temp</h1>
                <h1>temp</h1>
            </div>
            <div id="map"></div>
            <div id="toggler">
                <input type="checkbox" id="redToggle" checked onclick="togglePolygon('red')"> Red
                <input type="checkbox" id="greenToggle" checked onclick="togglePolygon('green')"> Green
                <input type="checkbox" id="yellowToggle" checked onclick="togglePolygon('yellow')"> Yellow
                <input type="checkbox" id="orangeToggle" checked onclick="togglePolygon('orange')"> Orange
            </div>
        </div>
    </div>
</div>


<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    var context = {{ context| safe }};
    var polygonData = context.polygon_data;
    var lat = context.important_coordinates.middle_lat;
    var long = context.important_coordinates.middle_long;
    console.log(lat, long)
    var map = L.map('map').setView([lat, long], 50);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 19 }).addTo(map);
    // var marker = L.marker([lat, long]).addTo(map);
    // marker.bindPopup("<b>Hello!</b><br>" + lat + ", " + long).openPopup();

    var redPolygons = [];
    var greenPolygons = [];
    var yellowPolygons = [];
    var orangePolygons = [];

    for (var color in polygonData) {
        // alert(color)
        if (polygonData.hasOwnProperty(color)) {
            var colorPolygonData = polygonData[color];
            for (var i = 0; i < colorPolygonData.length; i++) {
                var coordinates = colorPolygonData[i];
                // console.log(coordinates)
                var polygon = L.polygon(coordinates, {
                    fillColor: color,
                    color: color,
                    fillOpacity: 0.5
                }).addTo(map);
                // Add popup content if needed
                polygon.bindPopup('Popup content goes here');
            }
        }
        switch (color) {
            case 'red':
                redPolygons.push(polygon);
                break;  
            case 'green':
                greenPolygons.push(polygon);
                break;
            case 'yellow':
                yellowPolygons.push(polygon);
                break;
            case 'orange':
                orangePolygons.push(polygon);
                break;
            default:
                break;
        }
    }
        // Function to toggle visibility of polygons based on color
        function togglePolygon(color) {
        switch (color) {
            case 'red':
                console.log("red clicked ")
                togglePolygonsVisibility(redPolygons);
                break;
            case 'green':
                togglePolygonsVisibility(greenPolygons);
                break;
            case 'yellow':
                togglePolygonsVisibility(yellowPolygons);
                break;
            case 'orange':
                togglePolygonsVisibility(orangePolygons);
                break;
            default:
                break;
        }
    }
    // Function to toggle visibility of polygons in an array
    function togglePolygonsVisibility(polygonsArray) {
        polygonsArray.forEach(function(polygon) {
            var currentOpacity = polygon.options.fillOpacity || 0;
            polygon.setStyle({ fillOpacity: currentOpacity ? 0 : 0.3 });
            polygon.setStyle({ opacity: currentOpacity ? 0 : 1 });
        });
    }
</script>

{% endblock body %}