<!-- MAP -->
{% extends 'index.html' %}
{% load static %}
{% block title %}Map{% endblock title %}
{% block body %}
<!-- CSS -->
<link href="{% static '/styles/map.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<!-- HTML -->
<div id="map-page" class="container-fluid">
    <div class="row main-row">
        <!-- NAVBAR -->
        {% include 'app/navbar2.html' %}
        <div class="col-md-11">
    
            <!-- MAIN CONTENT -->
            <div class="row">
                <div class="col-md-8">
                    <!-- city info -->
                    <div id="cityinfo" class="my-2 rounded py-2 px-1">
                        <h1>{{ context.disaster_country }}, {{ context.disaster_state }}</h1>
                        <h1>{{ context.disaster_city }}</h1>
                        <p> Disaster Type: {{ context.disaster_type }}</p>
                        <p> Disaster Description: {{ context.disaster_description }}</p>
                    </div>
                    <!-- map -->
                    <div id="map-container">
                        <div id="map"></div>

                    </div>
                    <!-- toggler for map and table -->
                    <div id="toggler" class="my-2 py-2 px-1">
                        <input type="checkbox" id="redToggle" checked onclick="toggle('red')"> Destroyed
                        <input type="checkbox" id="orangeToggle" checked onclick="toggle('orange')"> Majorly
                        Damaged
                        <input type="checkbox" id="yellowToggle" checked onclick="toggle('yellow')"> Minorly
                        Damaged
                        <input type="checkbox" id="greenToggle" checked onclick="toggle('green')"> Undamaged
                    </div>
                </div>
                <!-- table -->
                <div class="col-md-4">
                    <div id="table" cellpadding="10" cellspacing="5">
                        <div class="table">
                            <div class="row">
                                <div class="col col-3">Building</div>
                                <div class="col col-3">Neighbourhood</div>
                                <div class="col col-2">Road</div>
                                <div class="col col-2">Suburb</div>
                                <div class="col col-2">Town</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Error messages -->
{% if messages %}
    {% for message in messages %}
        <div id="alert-container" class="position-fixed top-0 start-50 translate-middle-x mt-4" style="z-index: 1050">
            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}"
                role="alert">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <script>
        // Automatically remove alert after 5 seconds
        $(document).ready(function () {
            setTimeout(function () {
                $('#alert-container').fadeOut();
            }, 2000);
        });
    </script>
{% endif %}


<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    var context = {{ context| safe }};
    var results = context.results;
    var lat = context.tif_middle_latitude;
    var long = context.tif_middle_longitude;
    // map and tiles
    var map = L.map('map').setView([lat, long], 18);
    var streetView = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    streetView.addTo(map);
    var satelliteView = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        maxZoom: 19,
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    });
    var baseMaps = {
        "Street Map": streetView,
        "Satellite Map": satelliteView
    };
    L.control.layers(baseMaps).addTo(map);
    // drawing polygons on map and adding addresses to the table
    var allPolygons = [];
    for (var color in results) {
        colorPolygons = []
        if (results.hasOwnProperty(color)) {
            var colorPolygonData = results[color];
            for (var i = 0; i < colorPolygonData.length; i++) {
                var coordinates = colorPolygonData[i]["coordinates"]
                var address = colorPolygonData[i]["address"];
                // create polygon using coordinates and bind address to it
                var polygon = L.polygon(coordinates, {
                    fillColor: color,
                    color: color,
                    fillOpacity: 0.5
                }).addTo(map);
                polygon.bindPopup(`<div>${displayAddressComponents(address)}</div>`);
                colorPolygons.push(polygon);
                // addig addresses to the table
                $('#table').append(`<div class="row ${color}">
                    <div class="col col-3">${address.name}</div>
                    <div class="col col-3">${address.neighbourhood}</div>
                    <div class="col col-2">${address.road}</div>
                    <div class="col col-2">${address.suburb_municipality}</div>
                    <div class="col col-2">${address.town}</div>
                </div>`);
            }
        }
        allPolygons.push(colorPolygons)
    }
    // classes toggler
    function toggle(color) {
        // table
        var rows = document.querySelectorAll('.' + color);
        rows.forEach(function (row) {
            row.style.display = row.style.display === 'none' ? '' : 'none'; // Toggle visibility
        });
        // map
        switch (color) {
            case 'red':
                togglePolygonsVisibility(allPolygons[0]);
                break;
            case 'orange':
                togglePolygonsVisibility(allPolygons[1]);
                break;
            case 'yellow':
                togglePolygonsVisibility(allPolygons[2]);
                break;
            case 'green':
                togglePolygonsVisibility(allPolygons[3]);
                break;
            default:
                break;
        }
    }
    function togglePolygonsVisibility(polygonsArray) {
        polygonsArray.forEach(function (polygon) {

            var currentOpacity = polygon.options.fillOpacity || 0;
            polygon.setStyle({ fillOpacity: currentOpacity ? 0 : 0.3 });
            polygon.setStyle({ opacity: currentOpacity ? 0 : 1 });
        });
    }
    // helper functions
    function displayAddressComponents(address) {
        let components = [];
        const keys = ['name', 'neighbourhood', 'road', 'suburb_municipality', "town"];

        for (const key of keys) {
            if (key in address) {
                components.push(address[key]);
            }
        }

        return components.join(', ');
    }
</script>
{% endblock body %}