<!-- MAP -->
{% extends 'index.html' %}
{% load static %}
{% block title %}Map{% endblock title %}
{% block body %}
<!-- CSS -->
<link href="{% static '/styles/map.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<!-- HTML -->
<div id="map-page" class="container-fluid">
    <div class="row main-row">
        <!-- NAVBAR -->
        {% include 'app/navbar2.html' %}
        <div class="col-md-11">
            <!-- ERROR CONTAINER -->
            <div class="row">
                <div class="container error-container">
                    {% if messages %}
                    {% for message in messages %}
                    <p class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}"
                        role="alert">
                        {{ message }}
                    </p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <!-- MAIN CONTENT -->
            <div class="row">
                <div class="col-md-8">
                    <!-- city info -->
                    <div id="cityinfo" class="my-2 rounded py-2 px-1">
                        <h1>{{ context.country }}, {{ context.state }}</h1>
                        <h1>{{ context.city }}</h1>
                    </div>
                    <!-- map -->
                    <div id="map-container">
                        <div id="map"></div>
                        
                    </div>
                    <!-- toggler for map and table -->
                    <div id="toggler" class="my-2 py-2 px-1">
                        <input type="checkbox" id="redToggle" checked onclick="toggle('red')"> Destroyed
                        <input type="checkbox" id="orangeToggle" checked onclick="toggle('orange')"> Majorly
                        Damaged
                        <input type="checkbox" id="yellowToggle" checked onclick="toggle('yellow')"> Minorly
                        Damaged
                        <input type="checkbox" id="greenToggle" checked onclick="toggle('green')"> Undamaged
                    </div>
                </div>
                <!-- table -->
                <div class="col-md-4">
                    <div id="table" cellpadding="10" cellspacing="5">
                        <div class="table">
                            <div class="row">
                                <div class="col col-3">Building</div>
                                <div class="col col-3">Neighbourhood</div>
                                <div class="col col-2">Road</div>
                                <div class="col col-2">Suburb</div>
                                <div class="col col-2">Town</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    var context = {{ context| safe }};
    // map and tiles
    var map = L.map('map').setView([context.map_middle_lat, context.map_middle_long], 18);


var baseMaps = {
    "Street Map": L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}),
    "Satellite Map": L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        maxZoom: 19,
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    }),
};  
L.control.layers(baseMaps).addTo(map);

// Handle toggler actions
document.querySelectorAll('input[name="map-toggle"]').forEach(function(input) {
    input.addEventListener('change', function() {
        var selectedValue = this.value;
        switch(selectedValue) {
            case 'street':
                streetMapLayer.addTo(map);
                satelliteMapLayer.remove();
                terrainMapLayer.remove();
                break;
            case 'satellite':
                satelliteMapLayer.addTo(map);
                streetMapLayer.remove();
                terrainMapLayer.remove();
                break;
            case 'terrain':
                terrainMapLayer.addTo(map);
                streetMapLayer.remove();
                satelliteMapLayer.remove();
                break;
        }
    });
});

var polygonData = context.polygon_data;
    
    // red, orange, yellow, green
    var allPolygons = [];
    var allTableRows = [];
    for (var color in polygonData) {
        colorPolygons = []
        if (polygonData.hasOwnProperty(color)) {
            var colorPolygonData = polygonData[color];
            for (var i = 0; i < colorPolygonData.length; i++) {
                var coordinates = colorPolygonData[i]["coordinates"]
                var address = colorPolygonData[i]["address"];
                // create polygon using coordinates and bind address to it
                var polygon = L.polygon(coordinates, {
                    fillColor: color,
                    color: color,
                    fillOpacity: 0.5
                }).addTo(map);
                polygon.bindPopup(`<div>${displayAddressComponents(address)}</div>`);
                colorPolygons.push(polygon);
                // addig addresses to the table
                var tableRow = `<div class="row ${color}">
                    <div class="col col-3">${address.name}</div>
                    <div class="col col-3">${address.neighbourhood}</div>
                    <div class="col col-2">${address.road}</div>
                    <div class="col col-2">${address.suburb}</div>
                    <div class="col col-2">${address.town}</div>
                </div>`;
                $('#table').append(tableRow);

            }
        }
        allPolygons.push(colorPolygons)
    }
    
    
    
    
    function toggle(color) {
        var rows = document.querySelectorAll('.' + color);
        rows.forEach(function (row) {
            row.style.display = row.style.display === 'none' ? '' : 'none'; // Toggle visibility
        });
        switch (color) {
            case 'red':
                togglePolygonsVisibility(allPolygons[0]);
                break;
            case 'orange':
                togglePolygonsVisibility(allPolygons[1]);
                break;
            case 'yellow':
                togglePolygonsVisibility(allPolygons[2]);
                break;
            case 'green':
                togglePolygonsVisibility(allPolygons[3]);
                break;
            default:
                break;
        }
    }
    function togglePolygonsVisibility(polygonsArray) {
        polygonsArray.forEach(function (polygon) {

            var currentOpacity = polygon.options.fillOpacity || 0;
            polygon.setStyle({ fillOpacity: currentOpacity ? 0 : 0.3 });
            polygon.setStyle({ opacity: currentOpacity ? 0 : 1 });
        });
    }


    function displayAddressComponents(address) {
        let components = [];
        const keys = ['name', 'neighbourhood', 'road', 'suburb_municipality', "town"];

        for (const key of keys) {
            if (key in address) {
                components.push(address[key]);
            }
        }

        return components.join(', ');
    }

</script>

{% endblock body %}