{% extends 'index.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block body %}
<link rel="stylesheet" href="{% static '/styles/profile.css' %}">
<div class="home-container">
  <!-- SIDEBAR -->
  {% include 'app/navbar.html' %}
  <!-- RIGHT PANEL -->
  <div class="right-container">
    <div class="container py-5">
      <div class="container">
        {% if messages %}
                {% for message in messages %}
                    <p class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}" role="alert">
                        {{ message }}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <h5 class="my-3">Name: {{ user.username }}</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <form action="{% url 'update-profile' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Last Name</p>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="email" value="{{ user.email }}">
                  </div>
                </div>
                <hr>
                <!-- Repeat the same for other fields -->
                <div class="row">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Update Done</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}